button,
input,
select,
textarea {
    font-size: 100%; /* Corrects font size not being inherited in all browsers */
    margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline; /* Improves appearance and consistency in all browsers */
    *vertical-align: middle; /* Improves appearance and consistency in all browsers */
}

button,
input {
    line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
    background: #f9bb1e;
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: none; /* Corrects inability to style clickable 'input' types in iOS */
    border: none;
    @include transition(all .2s);
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.btn:hover {
    background: #f19900;
    color: #fff;
}

button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.btn:active,
.btn.active {
    background: #ffc636;
}

.btn-primary {
    padding: 12px 18px;
    font-size: 120%;
}

.btn-small {
    font-size: 80%;
    padding: 4px 8px;
}

.btn-large {
    font-size: 130%;
    padding: 10px 28px;
}

.btn-xlarge {
    font-size: 160%;
    padding: 10px 38px;
}
