/* Gravity Forms */

body {
    .gform_fields {
        list-style: none;
        margin: 0 0 1.25em;
    }

    .gfield_required {
        color: #C2351F;
    }

    .gform_wrapper .validation_message,
    .gform_wrapper .validation_error {
        padding: 10px;
        background: #F2BBBB;
        border-bottom: 2px solid #A64E4E;
        color: #662020;
    }

    .gform_wrapper ul li.gfield {
        margin-bottom: 1.25em;
        list-style: none;
    }

    .gform_wrapper .top_label .gfield_label {
        font-weight: 400;
    }

    .gform_wrapper textarea,
    .gform_wrapper input[type=text],
    .gform_wrapper input[type=url],
    .gform_wrapper input[type=email],
    .gform_wrapper input[type=tel],
    .gform_wrapper input[type=number],
    .gform_wrapper input[type=password] {
        font-size: 1em;
        padding: 8px;
        border: 1px solid #ddd;
        border-bottom: 1px solid #bbb;
        border-radius: 0px;
        box-shadow: none;
    }

    .full-form .gform_wrapper,
    #colophon .gform_wrapper {
        max-width: 500px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .full-form .gform_wrapper .top_label select.medium,
    .full-form .gform_wrapper .top_label textarea.textarea.medium,
    .full-form .gform_wrapper .hidden_label textarea.textarea.medium,
    .full-form .gform_wrapper .top_label input.medium {
        width: 96.8%;
    }

    .full-form .gform_wrapper textarea,
    .full-form .gform_wrapper input[type=text],
    .full-form .gform_wrapper input[type=url],
    .full-form .gform_wrapper input[type=email],
    .full-form .gform_wrapper input[type=tel],
    .full-form .gform_wrapper input[type=number],
    .full-form .gform_wrapper input[type=password],
    #colophon .gform_wrapper textarea,
    #colophon .gform_wrapper input[type=text],
    #colophon .gform_wrapper input[type=url],
    #colophon .gform_wrapper input[type=email],
    #colophon .gform_wrapper input[type=tel],
    #colophon .gform_wrapper input[type=number],
    #colophon .gform_wrapper input[type=password] {
        width: 96.8%;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.3);
    }

    .gform_confirmation_message,
    .full-width .gform_footer,
    #colophon .gform_footer {
        text-align: center;
    }

    .gform_confirmation_message {
        padding: 80px 10px 10px 10px;
        background: #C2E3BA;
        border-bottom: 2px solid #57B53F;
        position: relative;
        max-width: 500px;
        margin: 0 auto;
    }

    .gform_confirmation_message:before {
        position: absolute;
        top: 28px;
        left: 0;
        right:0;
        font-size: 50px;
        color: #57B53F;
        text-align: center;
        content: "\e042";
        font-family: 'icomoon';
    }

    .gform_validation_container {
        display: none;
    }
}
