// IF NEED IE ONLY STYLESHEET
// SeT THIS IN IE.SCSS
$fix-mqs: false !default;
$desktop: 48em;
$tablet: 34em;

@mixin media($width) {
    // If we're outputting for a fixed media query set...
    @if $fix-mqs {
        // ...and if we should apply these rules...
        @if $fix-mqs >= $width {
            // ...output the content the user gave us.
            @content;
        }
    }
    @else {
        // Otherwise, output it using a regular media query
        @media screen and (min-width: $width) {
            @content;
        }
    }
}

@mixin mobile-only {
  @media (min-width: 20em) and (max-width: $tablet - .01em) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: $tablet) and (max-width: $desktop - .01em) {
    @content;
  }
}

%row,
.row {
    @extend %clearfix;
    @include container;
}

.row-pad,
%row-pad {
    @extend %row;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.section,
%section {
  width: 100%;
  padding-right: 4%;
  padding-left: 4%;
  @extend %clearfix;
}

.blue-section,
%blue-section {
  @extend %section;

  background-color: $blue;
  color: $white;

  h1,h2,h3,h4,h5,h6 {
    color: $white;
  }

  a {
    color: $white;
  }
}

.full-width {
    width: 100%;
}

.container {
    padding-left: 4%;
    padding-right: 4%;
    @include container;
}

/*  SELF CLEARING FLOATS - CLEARFIX METHOD */
.container,
.clr,
.group {
  @extend %clearfix;
}


/* Clearing */
[class*="content"],
[class*="site"] {
    @extend %clearfix;
}

@include media(43.75em) {
  #primary {
    @include span(3 of 4);
  }

  #primary.full-width {
    @include span(12);
  }

  #secondary {
     @include span(1 of 4 last);
  }
}
